.LA-titulo, .EMQ-titulo, .MM-titulo, .MMplus-titulo{
    @include flex-justify-center;
    padding: 2rem;
    align-items: center;
    font-size: 30px;
    text-decoration: underline;
}

.LA-spotify, .motomami-spotify{
    display: flex;
    flex-direction: row;
    align-items: center;

    p{
        padding: 5rem;
        text-align: justify;
        font-size: 1.2rem;
        background-color: #ea8c55;
    }

    iframe{
        margin-left: 3rem;
        
    }
}

.EMQ-spotify, .motomami-plus-spotify{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    p{
        padding: 5rem;
        text-align: justify;
        font-size: 1.2rem;
    }

    iframe{
        margin-right: 3rem;
        
    }
}

@media screen and (max-width: 800px){
    .LA-spotify, .EMQ-spotify, .motomami-spotify, .motomami-plus-spotify{
        @include flex-column-center;

        iframe{
            margin: 0rem;
        }
    }

}